EXPO_PUBLIC_WORDPRESS_URL=https://taai.net.au
EXPO_PUBLIC_EAS_PROJECT_ID=replace-with-eas-project-id
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=replace-with-ios-client-id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=replace-with-android-client-id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=replace-with-web-client-id.apps.googleusercontent.com

